<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage-customer</title>
</head>
<body>
  
            
                        <div class="col-12 col-md-12">    
                            <div class="card">    
                                <div class="card-header">Customer Management</div>    
                                <div class="card-body position-relative">    
                                    <div class="table-responsive cnstr-record product-tbl">    
                                        <table class="table table-bordered heading-hvr">    
                                            <thead>    
                                                <tr>    
                                                    <th class="active">Full name</th>    
                                                    <th>Email</th>    
                                                    <th>contact number</th>    
                                                    <th>age</th>
                                                    <th>gender</th>     
                                                    <th width="60"> </th>    
                                                    <th width="60"> </th>    
                                                </tr>    
                                            </thead>    
                                            <tbody>    
                                                <tr >    
                                                    <td>UserName</td>    
                                                    <td>Full name</td>    
                                                    <td>age</td>    
                                                    <td>contact number</td>
                                                    <td>email</td>   
                                                    <td class="case-record">    
                                                        <button type="button" class="btn btn-info"    
                                                            >Edit</button>    
            
                                                    </td>    
                                                    <td> <button type="button" class="btn btn-danger"    
                                                            >Delete</button></td>    
                                                </tr>    
                                            </tbody>    
                                        </table>    
                                    </div>    
                                </div>    
                            </div>    
                        </div>    
            
       


</body>
</html> 
