<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <diV class="container">

        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" #loginfrom="ngForm">
                                <h3 class="text-center text-info;font-family:sanf">Login</h3>
                                <div class="form-group">
                                    <br>
                                    <input type="text"  #emp1="ngModel" placeholder="Enter user-name" class="form-control" [(ngModel)]="empid" required
                                    [class.is-invalid]="emp1.invalid && emp1.touched" name="empi">
                                    <small [class.d-none]="emp1.valid || emp1.untouched"><span style="color: red;">*</span>Email  is required</small>
                                </div>
                                <div class="form-group">
                                    
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" [(ngModel)]="pass" #passw="ngModel" required name="passw"  [class.is-invalid]="passw.invalid && passw.touched" >
                                     <small [class.d-none]="passw.valid || passw.untouched"><span style="color: red;">*</span>Password is required</small>
                                </div>
                                <div class="form-group">

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="customer"  required checked name="user-type" value="customer">
                                        <label class="form-check-label" for="customer">Customer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="admin" required name="user-type"  value="admin">
                                        <label class="form-check-label" for="admin">Admin</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <br>
                                    <button type="button" class="btn btn-primary btn-block" >Login</button>
                                </div>
                                <div class="form-group">
                                   <h3 style="text-align: center;">OR</h3>
                                </div>
                                <div class="form-group">
                                    <a href="/sign-up"> <button type="button" class="btn btn-primary btn-block">SignUp</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    
    </diV>
        
        
    
</body>
</html>
